@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: rgb(7, 7, 7);
}

.form-card{
    background-color: #F05A22;
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    /* Add transitions for all 0.3s ease */
    transition: 0.3s ease;
}


.form-grid{
    background-color: #F3901D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
}

.btn{
    background-color: #F3901D;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
}

.form-tintas{
display: flex;
flex-direction: column;
align-items: center;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.btn:active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
}

hr{
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 40px;
}

input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 0 22px 0;
    background: #f1f1f1;
    width: 100%;
}

.img-logo{
    width: 200px;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }